body {
    background: url(images/back.png) no-repeat;
    background-size: cover;
}

.box {
    background: transparent linear-gradient(to left top, #949FCB 0%, #FFFCDC 100%) 0% 0% no-repeat padding-box;
    box-sizing: border-box;
    width: 500px;
    margin: 170px auto 0;
    padding: 130px 75px 30px;
    position: relative;
}

.avatar {
    position: absolute;
    top: -75px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.center {
    text-align: center;
}

span {
    background: white;
}

h1, .bold {
    font-family: 'Alegreya Sans SC', sans-serif;
}

.description, .medium {
    font-family: 'Alegreya', serif;
    margin: 0;
}

.social {
    text-align: center;
}

img {
    display: inline-block;
}

[alt=instagram] {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
}

a {
    text-decoration: unset;
}

.bold {
    margin: 0;
}

.description {
    margin-top: 30px;
}